* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container {
  max-width: 1240px;
  margin: 0 auto;
}
/* Navbar componet styles */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.logo-img-container {
  max-width: 100px;
}
.logo-img-container img {
  width: 100%;
}
.nav-container ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
  cursor: pointer;
}
.login-btn {
  background-color: red;
  color: white;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  font-family: inherit;
}
.login-btn:hover {
  background-color: rgb(240, 20, 20);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.nav-container ul li:hover {
  color: red;
  transition: color 0.2s ease-in-out;
}
/* Hero component styles */
.Hero-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.Hero-container h1 {
  font-size: 96px;
  line-height: 6rem;
  width: 600px;
}
.Hero-container p {
  font-size: 14px;
  width: 400px;
  margin-top: 32px;
  color: gray;
}
.btn-container {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.btn {
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.category-btn {
  background-color: transparent;
  color: gray;
  border: 2px solid gray;
}
