* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container {
  max-width: 1240px;
  margin: 0 auto;
  padding-inline: 20px;
}
/* Navbar componet styles */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.logo-img-container {
  max-width: 100px;
}
.logo-img-container img {
  width: 100%;
}
.nav-container ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
  cursor: pointer;
}
.login-btn {
  background-color: red;
  color: white;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  font-family: inherit;
}
.login-btn:hover {
  background-color: rgb(240, 20, 20);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.nav-container ul li:hover {
  color: red;
  transition: color 0.2s ease-in-out;
}
/* Hero component styles */
.Hero-container {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
.Hero-container h1 {
  font-size: 96px;
  line-height: 6rem;
  width: 600px;
}
.Hero-container p {
  font-size: 14px;
  width: 400px;
  margin-top: 32px;
  color: gray;
}
.btn-container {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.btn {
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.category-btn {
  background-color: transparent;
  color: gray;
  border: 2px solid gray;
}
.shop-container {
  margin-top: -60px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav-container {
    padding-right: 20px;
  }
  .Hero-container {
    flex-direction: column;
    margin-top: 10px;
  }
  .hero-img {
    order: 1;
  }
  .hero-img img {
    width: 300px;
  }
  .hero-content {
    order: 2;
  }
  .shop-container {
    display: none;
  }
  .logo-img-container img {
    width: 52px;
  }
  .nav-container ul {
    gap: 8px;
    font-size: 10px;
    font-weight: bold;
  }
  .login-btn {
    padding: 6px 10px;
    font-size: 10px;
  }
  .Hero-container h1 {
    font-size: 40px;
    line-height: 3rem;
    width: 400px;
  }
  .Hero-container p {
    font-size: 12px;
    margin-top: 10px;
  }
}
